.container {
    display: inline-block;
    min-width: 31.77502%;
    min-height: 36.822%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    chart-settings {
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
    
        h4 { margin-left: 15px; }

        .dropdown {
            margin: 10px 10px; 
            user-select: none;

            .dropbtn {
                padding: 5px;
                border: none;
                cursor: pointer;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: whitesmoke;
                min-width: 150px;
                z-index: 1;

                a {
                    display: block;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                }
            }

            .dropdown-content a:hover { background-color: #f1f1f1; }
        }
                
        .dropdown:hover .dropdown-content { display: block; }
    }
}